@import "tailwindcss";

body {
  font-family: "Titillium Web", sans-serif;
}
/* ADD THIS BELOW */
.stroke-text {
  -webkit-text-stroke: 0.8px #e5710a;
  color: transparent;
}

/* ENTRY */
@keyframes enterFromRight {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes enterFromLeft {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* EXIT */
@keyframes exitToLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100vw);
    opacity: 0;
  }
}

@keyframes exitToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100vw);
    opacity: 0;
  }
}

/* TEXT */
@keyframes textFadeUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-textFadeUp {
  animation: textFadeUp 0.6s ease;
}
